* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}

.hero {
  background: #d896ff;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

.bg-light {
  background: #f4f4f4;
}

h1, h2 {
  margin-bottom: 15px;
}

ul, ol {
  margin-left: 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #be29ec;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
    background-color: #800080;
}

.cta {
  background: #660066;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

footer {
    color: white;
  text-align: center;
  padding: 15px;
  background: #212122;
  font-size: 14px;
}
