* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

.hero {
  background-image: 
    linear-gradient(135deg, rgba(51, 51, 51, 0.9), rgba(17, 17, 17, 0.9)), 
    url("../img/hero-img.png");
  background-blend-mode: multiply; 
  background-size: cover;
  background-position: center;
  color: white;
  padding: 300px 20px;
  text-align: center;
}


.hero h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  opacity: 0.9;
}

.section {
  padding: 60px 0;
}

.section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.section p {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.people-testimonials {
  background: #f9f9f9;
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.testimonial {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin: 0 10px;
  padding: 20px;
  margin-top: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cta {
  background: #111;
  color: white;
  text-align: center;
  padding: 70px 20px;
}

.cta h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.bg-light {
  background: #f4f4f4;
}

h1, h2 {
  margin-bottom: 15px;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* ul { list-style: none; } */

ul, ol {
  margin-left: 20px;
}

/* ol { margin-left: 45px; } */

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: 	#e53935;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover { background-color: 	#c62828; }

.cta {
  background: #111;
  color: white;
  text-align: center;
  padding: 70px 20px;
}

.cta h2 {
  font-size: 32px;
  margin-bottom: 20px;
}


footer {
  color: white;
  text-align: center;
  padding: 15px;
  background: #212122;
  font-size: 14px;
}

footer .address { margin-top: 10px; }